<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Login Portal | SGSITS</title>
    <link rel = "stylesheet" href = 'C:/Users/Aditya Sharma/Desktop/HackIndore/static/style.css'></head>
    <body>
        <div class="box">
            <h2>Mess Management System</h2>
            <h2>Login Portal</h2>
            <form>
                <div class = "inputBox">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>
                <div class="inputBox">
                    <input type="password", name="" required="">
                    <label>Password</label>
                </div>
                <button onclick="location.href='C:/Users/Aditya Sharma/Desktop/HackIndore/stdashboard.html'" type="Submit" value="Submit"><input type="Submit" name="" value="Submit"></button>
            </form>
        </div>
    </body>
</html>